.register-page .registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.register-page {
    margin: 25px auto 0;
    background-color: #fefefe;
    border-radius: 10px;
    border: 1px solid #777;
    width: 450px;
    padding: 20px 15px;
}

.register-page h4 {
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 10px 40px;
    padding-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.MuiFormControl-root {
    font-size: 0.95em;
    width: 250px;
    height: 75px;
}

.upload-field .MuiInput-input {
    opacity: 0.8;
    font-size: 0.9em;
}

#register-btn  {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.loading {
    display: inline-block;
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border: 4px solid rgba(63, 80, 181,.75);
    border-radius: 50%;
    border-top-color: rgba(255, 255, 255,.75);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    box-sizing: unset;
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}